div.MobileClient
{
  padding: 0px 0;
}

span.MobileClientBalance
{
  float: right;
  width: 30px;
  font-weight: bold;
  text-align: right;
}

span.MobileClientFIO
{
  margin-right: 30px;
}

.StatusActive
{
  background-color:green;
  text-align: center;
}

.StatusBlocked
{
  background-color:red;
  text-align: center;
}

.Edit
{
  height: 20px;
  font-style: italic;
  background-color: #d9d7d797;
}

.Highlight{
  background-color:#299e2d91;
}

 input.Validate::placeholder{
   color:red;
 }
