.MyIshop
{
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
}

.MyIshop .NameShop
{
  font-weight: bold;
  text-align: center;
}

.MyIshop .Products
{
  padding-top: 5px;
  border-collapse: collapse;
  margin: 0 auto;
}


.MyIshop .Products .HeadProduct
{
  height: 100px;
  text-align: left;
  font-size: 20px;
  border-top: 1px solid #82818166;
}



.MyIshop .Products .HeadProduct .Name
{
  font-weight: inherit;
}




.MyIshop .Products .HeadProduct .Count
{ 
  text-align: left;     
  padding-left: 0px;  
}



.MyIshop .Products .HeadProduct .Expected
{
  color: black;   
  text-align: left;     
  padding-left: 80px;  
}